<!DOCTYPE html>
<html lang="it" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>vue-boolzapp</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Font family-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- mycss and media-query -->
        <link rel="stylesheet" href="assets\master.css">
        <link rel="stylesheet" href="assets\media-query.css">



        <!-- VUE CDN 2 -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>



        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

        <!-- Animate -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

        <!-- sweetalert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.all.min.js"></script>

        <!-- font family -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>

    <body>
        <!-- TODO:  @click="inputActive -->
        <div id="root" @click="inputActive = null">
            <aside id="sidebar">
                <nav class="nav-sidebar">
                    <div class="ml-3">
                        <img src="assets\img\avatar_io.jpg" class="img-users">
                    </div>

                    <div class="mr-3">
                        <span class="cont-icon"><i class="fas fa-circle-notch"></i></span>
                        <span class="cont-icon"><i class="fas fa-comment-alt"></i></span>
                        <span class="cont-icon"><i class="fas fa-ellipsis-v"></i></span>
                    </div>
                </nav>

                <div v-if="notifications != true" class="notifications">
                    <div class="cont-icon-slash mr-3">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="pr-2">
                        <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                        <span><a @click="showNotification" href="#">Attiva notifiche desktop</a><span class="fas fa-chevron-right ml-1"></span></span>

                    </div>
                </div>

                <div class="cont-list-users" :class="[notifications ? 'mt-60px' : '']">
                    <nav :class="(inputActive ? 'bg-white' : '')">
                      <div class="input-group">
                        <div class="input-group-prepend">

                            <label  for="myInput" class="input-group-text btn-search pr-3">
                                <i :class="[inputActive ? 'fa-arrow-left' : 'fa-search', 'fas']"
                                    @click.stop='inputActive = true'>
                                    <!-- TODO:  @click.stop="inputActive" -->
                                </i>
                            </label>

                        </div>
                        <input v-model="inputSearchUser" @keyup="searchValue" ref = "input" type="text" class="form-control" id="myInput" :placeholder="[ inputActive ? '' : 'Cerca o inizia una nuova chat']">
                      </div>
                    </nav>


                    <ul id="list-users" class="scroll">
                        <li v-for="(user,i) in contactsFiltered" @click="chatActive(user)" class="infoProfileChat">
                            <div>
                                <img v-bind:src="'./assets/img/avatar' +  user.avatar + '.jpg'"  class="img-users" alt="">
                            </div>
                            <div class="text-overflow-ell">

                                <div class="d-flex">
                                    <span class="f_Size-17px">{{user.name}}</span>
                                    <span v-if="(user.messages.length)" class="ml-auto">{{user.messages[user.messages.length -1].date.slice(11)}}</span>
                                </div>

                                <div class="d-flex align-items-center">
                                    <!-- possibilità di aggiungere un icona relativa al tipo di messaggio con l' aggiunta di una proprietà o più proprietà all'oggetto che specifichi il tipo di messaggio ricevuto e se è stato visualizzato o meno-->
                                    <div class="">
                                        <span v-if="user.messages.status === 'sent'" class="icon-DoubleTick mr-2">
                                        </span>
                                    </div>

                                    <span v-if="user.messages.length" class="text-overflow-ell">

                                        {{user.messages[user.messages.length -1].text}}
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </aside>

            <div id="consoleChat" v-if="(chatActiveObj)">
                <nav class="nav-console">
                    <div class="d-flex align-items-center ml-3 infoProfileChat">

                        <img v-bind:src="'./assets/img/avatar' +  chatActiveObj.avatar + '.jpg'"  class="img-users" alt="">
                        <div class="pl-3">
                            <div>{{chatActiveObj.name}}</div>
                            <p class="mb-0">Ultimo accesso  {{userLastAccess}}</p>
                        </div>

                    </div>

                    <div class="mr-3">
                        <span class="cont-icon"><i class="fas fa-search"></i></span>
                        <span class="cont-icon"><i class="fas fa-paperclip"></i></span>
                        <span class="cont-icon"><i class="fas fa-ellipsis-v "></i></span>




                    </div>
                </nav>

                <div class="cont-chat scroll">
                    <ul>
                        <li v-for="(message, i) in chatActiveObj.messages">

                            <!-- sent -->
                            <div class="sent" v-if="(message.status == 'sent' && chatActiveObj.messages.length)" @mouseover = "IndexHoverMessage = i" @mouseleave = "IndexHoverMessage = null">
                                <span class="f_Size-17px">{{message.text}}</span>

                                <div class="text-right">

                                    <span  v-if = "(i == IndexHoverMessage)">
                                        <span @click="selectOptionMessShow = true" class="fas fa-chevron-down animate__animated animate__fadeInRight animate__faster"></span>
                                    </span>

                                    <span  v-else class="dateReceived f_Size-12px animate__animated animate__fadeInRight animate__faster">
                                        {{message.date.slice(11)}}
                                    </span>
                                </div>
                                <div v-if = "(i == IndexHoverMessage && selectOptionMessShow)" class="cont-optionMessage animate__animated animate__flipInY animate__faster">
                                    <div>Info messaggio</div>
                                    <div>Rispondi</div>
                                    <div>Inoltra messaggio</div>
                                    <div>Messaggio importante</div>
                                    <hr>
                                    <div @click="deleteMess(i)">Elimina messaggio</div>
                                </div>
                                <!-- Forma nuvola destra-->
                                <div v-if = "(message.status == 'sent')" class="triangleRight">

                                </div>
                            </div>

                            <!-- received -->
                            <div class="received" v-else-if="(message.status == 'received' && chatActiveObj.messages.length)" @mouseover = "IndexHoverMessage = i" @mouseleave = "IndexHoverMessage = null">
                                <span class="f_Size-17px">{{message.text}}</span>
                                <div class="text-right">
                                    <span  v-if = "(i == IndexHoverMessage)">
                                        <span @click="selectOptionMessShow = true" class="fas fa-chevron-down animate__animated animate__fadeInRight animate__faster"></span>
                                    </span>
                                    <span  v-else class="dateReceived f_Size-12px animate__animated animate__fadeInRight animate__faster">
                                        {{message.date.slice(11)}}
                                    </span>
                                </div>

                                <div v-if = "(i == IndexHoverMessage && selectOptionMessShow)" class="cont-optionMessage animate__animated animate__flipInY animate__faster">
                                    <div>Info messaggio</div>
                                    <div>Rispondi</div>
                                    <div>Inoltra messaggio</div>
                                    <div>Messaggio importante</div>
                                    <hr>
                                    <div @click="deleteMess(i)">Elimina messaggio</div>
                                </div>

                                <!-- Forma nuvola sinistra-->
                                <div v-if = "(message.status == 'received')" class="triangleLeft">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <footer class="cont-InputMessage">
                    <div class="input-group d-flex">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-smile"></i></span>
                        </div>

                        <input type="text" v-model="textSend" class="form-control" placeholder="Scrivi un messaggio" aria-label="Scrivi un messaggio"  @keyup.enter="sendMessage">

                        <div class="input-group-prepend">
                            <span class="input-group-text cont-icon-message"><i class="fas fa-microphone"></i></span>
                        </div>
                    </div>
                </footer>
            </div>

            <!-- TODO: creare pagina iniziale -->
            <div v-else id="first-page-chat" class="animate__animated animate__pulse">
                <h1 class="text-center mt-60px text-success">Cerca o inizia una nuova chat</h1>
            </div>
        </div>

        <!-- Script js -->
        <script src="assets/main.js"></script>
    </body>
</html>
