* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size:100%;
}


body{
    background: linear-gradient(0deg, #dfdfdf 85%, #009788 15%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    min-width: 750px;
    overflow:  hidden;
}

/* Contenitore Root */
#root{
    height: 95vh;
    width: 70vw;
    margin: 21px auto 0 auto;
    padding-right: 10px;
    box-shadow: 5px 10px 18px #888888;
    background-color: #F3EEEA;
    display: flex;
}

#sidebar{
    position: relative;
    width: 30%;
    min-width: 300px;
    height: 100%;
    border-right: 1px solid #888888;
    background-color: #ffffff;
}

#consoleChat{
    width: 70%;
    height: 100%;
    position: relative;
    background-image: url("img\\mine.jpg");
}

/* NAV ASIDE / NAV CONSOLE */
.nav-sidebar,.nav-console{
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3EEEA;
}

.nav-sidebar i,.nav-console i{
    color: #aaaaaa;
}

/* CONTENITORE CHAT */
.cont-chat{
    margin: 65px 0;
    height: 100%;
    width: 100%;
}

/* -----------ASIDE NAV-------------- */
/* contenitore attiva notifiche */
.notifications{
    margin-top: 65px;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #8EDAFC;
}
.notifications a{
    color: inherit;
    font-size: 14px;
}


.cont-list-users > nav{
    background-color: #F3EEEA;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

/* border right rounded */
.cont-list-users > nav > .input-group>.form-control:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#list-users li{
    width: 100%;
    height: 80px;
    display: flex;
}

#list-users li > div{
    display: inline-block;

}


#list-users li > div:first-child{
    padding: 0px 10px 0px 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

#list-users li > div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    /* Bordo lista contatti */
    border-top: 1px ridge #888888;
}

/* Bordo 1° item list contact = none */
#list-users li:first-child > div:last-child{
    border-top: none;
}

.text-overflow-ell{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

}

/* Transition icon search profile */
.cont-list-users .fa-search{
    color: black;
    transition: all .30s cubic-bezier(.4,0,.2,1);
    transform: scale(.8) rotate(
    0deg
    );
}

.cont-list-users .fa-arrow-left{
    /* padding: .375rem 1.10rem; */
    color: #8EDAFC;
    transition: all .30s cubic-bezier(.4,0,.2,1);
    transform: scale(.8) rotate(
    360deg
    );
}


/* ******** CONSOLE CHAT ******* */
/* TODO: pagina iniziale */
.first-page-chat{
    height: 100%;
    width: 100%;
}


/* nav console */
.infoProfileChat{
    cursor: pointer;
}

.cont-chat ul{
    padding: 39px;
    margin-bottom: 7rem;
}

.input-group-text{
    border: none;
}


/* ------------input chat---------------*/
.cont-InputMessage{
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: #F3EEEA;
}
.cont-InputMessage > .input-group{
    align-items: center;
    padding: 0;
}

.cont-InputMessage > .input-group i{
    font-size: 25px;
    color: #999999;
}

.cont-InputMessage  .input-group input{
    height: 50px;
}


/* FORM CONTROL Cont-InputMessage BR-RADIUS */
.cont-InputMessage .input-group>.custom-select:not(:first-child), .cont-InputMessage .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cont-InputMessage .input-group>.custom-select:not(:last-child), .cont-InputMessage .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cont-InputMessage .input-group .input-group-text {
    background-color: inherit;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 10px;
}

/* Bootstrap modifica bordo input-group-text sinistro*/
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.cont-InputMessage .input-group-prepend .cont-icon-message{
    display: inline-block;
    border-radius: 50%;
}

.cont-InputMessage  span.input-group-text i {
    line-height: calc(50px - 25px / 2);
    vertical-align: middle;
}


/* Transition icon cont-input-message */
.cont-InputMessage .input-group-prepend .cont-icon-message:hover{
background-color:#d1d1d1;
transition: all 0.50s ease-In-Out;
cursor: pointer;
}

.cont-InputMessage .input-group-prepend .cont-icon-message:focus {
background-color:#d1d1d1;
transition: all .20s ease-In-Out;
}

.cont-InputMessage .input-group-prepend .cont-icon-message:active {
background-color:red;
color: white;
transition: all .10s ease-In-Out;
}

/* chat message */
.received,.sent{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: max-content;
    min-width: 70px;
    padding: 5px 15px;
    position: relative;
}
.received{
    background-color: #FFFFFF;
    margin: 5px auto 5px 3px;
}

.sent {
    background-color: #dcf8c6;
    margin: 5px 3px 5px auto;
}

.sent >.dateReceived {
    align-self: flex-end;
}

.received >.dateReceived {
    align-self: flex-end;
}

.cont-optionMessage{
    position: absolute;
    top: 55px;
    right: -110px;
    z-index: 10;
    text-align: left;
    background-color: #ffffff;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
}

.cont-optionMessage > div{
    padding: 15px 15px;
    cursor: pointer;
}

.cont-optionMessage > div:hover{
    background-color: #d1d1d1;
    transition: all 0.25s ease-In-Out;
}


/* icons */
i{
    cursor: pointer;
    border: none;
    text-shadow: 0 1px 1px 1px #888888;
}

.nav-sidebar div i,.nav-console div i{
    font-size: 18px;
}

.fa-chevron-right{
    font-size: 10px;
}

.cont-icon-slash{
    width: 50px;
    height: 50px;
    background-color: white;
    color: #8EDAFC;
    border-radius: 50%;
    display: flex;
}

.cont-icon-slash .fa-bell-slash{
    margin: auto;
}

.icon-DoubleTick{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("icons\\icons8-doppio-tick-48.png");
    background-repeat: no-repeat;
    background-size: contain;
}


/* --- GENERAL PROPERTY --- */

/* Input property general */
.input-group-prepend{
    margin: 0;
}

input:focus {
    outline: none;
    box-shadow:none !important;
    border:none !important;
}

li{
    list-style: none;
}


/* ICON */
i{
    cursor: pointer;
    outline: none;
}

.cont-icon{
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.cont-icon > i{
    line-height: 35px;
}

.cont-icon:hover {
background-color: #d1d1d1;
cursor: pointer;
transition: all 0.25s ease-In-Out;
}

/* TODO: da continuare */
/* .cont-icon:focus {
color:black;
cursor: pointer;
transition: all .20s ease-In-Out;
}

.cont-icon:active {
color:black;
cursor: pointer;
transition: all .20s ease-In-Out;
} */





.img-users{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-shadow: 0 1px 1px 1px #888888;
}

.cont-list-users .input-group-text{
    background-color: white;
}


.cont-list-users input{
    padding: 0;
    padding-bottom: 2px;
}

input::placeholder{
    color: #adabab;
    font-size: 14px;
}

.input-group{
    padding: 10px;
}

.form-control{
    border: none;
}



/* UTILITY */

/* Bg-color */
.bg-white{
    background-color: white;
}

/* Text size */
.f_Size-17px{
    font-size: 17px;
}

.f_Size-12px{
    font-size: 12px;
}

.mt-65px{
    margin-top: 65px;
}

.pr-4{
    padding-right: 35px;
}

/* -----BUTTON----- */
.myBtnController:hover{
    background-color: rgba(0,0,0,0.84);
    color: #b1b1b1;
    /* text-shadow: 0 0 1px #000000; */
    transform: scale(1.04);
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: 0.5s;
}


/* ---------------Scroll Vertical (Classe Scroll)------------------------- */
.scroll{
    /* TODO: risolvere overglow scroll */
	/* overflow-y: auto;
	overflow-x: hidden; */
}
.scroll::-webkit-scrollbar{
	-webkit-overflow-scrolling: auto;
	width: 5px;
}
.scroll::-webkit-scrollbar-thumb{
	border-radius: 4px;
    background-color: #120038;
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* ------------------------------------------------------------- */


/* input */
.cont-list-users .input-group>.input-group-prepend:first-child>.input-group-text {
    border-top-left-radius: 43%;
    border-bottom-left-radius: 43%;
}

.cont-list-users .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
